.aside {
    /* задаем псевдоним nav */
    grid-area: nav;
    padding: 30px;
}

aside > div {
    font-size: 20px;
}

.item {
    color: white;
}

/* Только для классов */
.item.active{
    color: gold;
}
