
.face {
    height: 100px;
}

.descriptionUser {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.descriptionUser > div {
    padding: 10px;
}

div > img {
    height: 200px;
    width: 100%;
}

.avatar {
    width: 200px;
    height: 200px;
}