.App {
    margin: 0 auto;
    width: 90%;
    background-color: aquamarine;
}

.app-wrapper {
    display: grid;
    grid-template-areas: "nav  cont";
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: cont;
    background-color: burlywood;
}
